services:
  # Service 1 : Ton API Flask
  api:
    build: ./app             # Construit l'image à partir du dossier app
    container_name: music_store_api
    restart: always
    ports:
      - "5000:5000"          # Ouvre le port 5000
    depends_on:
      - db                   # Attend que la DB soit prête
    environment:
      DB_HOST: db            # L'adresse de la DB dans le réseau Docker
    networks:
      - backend-network

  # Service 2 : La Base de données (MariaDB)
  db:
    image: mariadb:latest
    container_name: music_store_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: chinook
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./db_scripts:/docker-entrypoint-initdb.d
    networks:
      - backend-network

  # Service 3 : L'interface Adminer
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - backend-network

networks:
  backend-network: